<section class="bg-main-light p-4 rounded my-3 mx-auto">
    <h1>Register Now</h1>

    <form (ngSubmit)="handelform()" [formGroup]="registerForm">
    
        <div class="mb-2">
            <label for="name">name :</label>
        
            <input #inputName formControlName="name" type="text" id="name" class="form-control">
            <div class="alert alert-danger" *ngIf="registerForm.get('name')?.errors && (registerForm.get('name')?.touched||inputName.value.length>0)">
                <p *ngIf="registerForm.get('name')?.getError('required')">Name is Required</p>
                <p *ngIf="registerForm.get('name')?.getError('minlength')">Name min lenth 3</p>
                <p *ngIf="registerForm.get('name')?.getError('maxlength')">Name max lenth 20</p>

            </div>
        </div>
        <div class="mb-2">
            <label for="email">email :</label>
        
            <input #inputEmail formControlName="email" type="email" id="email" class="form-control">
            <div class="alert alert-danger" *ngIf="registerForm.get('email')?.errors && (registerForm.get('email')?.touched||inputEmail.value.length>0)">
                <p *ngIf="registerForm.get('email')?.getError('required')">email is Required</p>
                <p *ngIf="registerForm.get('email')?.getError('email')">email Invaled</p>

            </div>
        </div>
        <div class="mb-2">
            <label for="password">password :</label>
        
            <input #inputPassword formControlName="password" type="password" id="password" class="form-control">
            <div class="alert alert-danger" *ngIf="registerForm.get('password')?.errors && (registerForm.get('password')?.touched||inputPassword.value.length>0)">
                <p *ngIf="registerForm.get('password')?.getError('required')">password is Required</p>
                <p *ngIf="registerForm.get('password')?.getError('pattern')">password must start with uppercase then from 6 to 20</p>

            </div>
        </div>
        <div class="mb-2">
            <label  for="rePassword">rePassword :</label>
        
            <input #inputRepassword formControlName="rePassword" type="password" id="rePassword" class="form-control">
            <div class="alert alert-danger" *ngIf="registerForm.get('rePassword')?.errors && (registerForm.get('rePassword')?.touched||inputRepassword.value.length>0)">
                <p *ngIf="registerForm.get('rePassword')?.getError('required')">rePassword is Required</p>
                <p *ngIf="registerForm.get('rePassword')?.getError('mismatch')">rePassword must match Password</p>

            </div>
        </div>

        <div class="mb-2">
            <label for="phone">phone :</label>
        
            <input #inputPhone formControlName="phone" type="tel" id="phone" class="form-control">
            <div class="alert alert-danger" *ngIf="registerForm.get('phone')?.errors && (registerForm.get('phone')?.touched||inputPhone.value.length>0)">
                <p *ngIf="registerForm.get('phone')?.getError('required')">phone is Required</p>
                <p *ngIf="registerForm.get('phone')?.getError('pattern')">accept only egypt phone numbers</p>

            </div>
        </div>
        <button  class="btn-main ms-auto d-block" [disabled]="registerForm.invalid">
        <i class="fas fa-spin fa-spinner" *ngIf="isLoading" ></i>

            Register
        
        </button>
        <p class="alert alert-danger" *ngIf="msgError" >{{msgError}}</p>

    </form>
</section>