<nav class="navbar navbar-expand-lg fixed-top bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="home">
            <img src="./assets/images/freshcart-logo.svg" alt="">
        </a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
           
          <li class="nav-item">
            <a class="nav-link text-capitalize" routerLinkActive="active-link" routerLink="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-capitalize" routerLinkActive="active-link" routerLink="cart">cart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-capitalize" routerLinkActive="active-link" routerLink="products">products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-capitalize" routerLinkActive="active-link" routerLink="Wishlist">Wishlist</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-capitalize" routerLinkActive="active-link" routerLink="categories">categories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-capitalize" routerLinkActive="active-link" routerLink="brand">brand</a>
          </li>
       
          
        </ul>

        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item me-4 hstack">
            <a routerLink="/cart" class="text-main number-item">
              <i class="fas fa-cart-shopping fa-xl"></i>
              <span *ngIf="cartItemNumber"> {{ cartItemNumber }} </span>
            </a>
          </li>
            <li class="nav-item">
              <a class="nav-link" ><i class="fab fa-instagram"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ><i class="fab fa-facebook"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ><i class="fab fa-tiktok"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ><i class="fab fa-twitter"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ><i class="fab fa-linkedin"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ><i class="fab fa-youtube"></i></a>
            </li>
           <!--  <li class="nav-item dropdown">
              
              <a class="nav-link dropdown-toggle" routerLink="/setting" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-cog"></i> setting
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="/setting/update">Update Password</a></li>
                <li><a class="dropdown-item" routerLink="/setting/forgot">Forgot Password</a></li>
               
              </ul>
            </li> -->
            <li class="nav-item">
                <span class="nav-link cursor-pointer" (click)="logoutuser()" >SignOut</span>
            </li>
        </ul>
          
      </div>
    </div>
  </nav>