<section class="bg-main-light p-4 rounded-3 my-3 shadow w-50 mx-auto">
    <form [formGroup]="checkout" (ngSubmit)="handelForm()" >
        <div>
            <label for="details">details</label>
            <textarea   id="details"  class="form-control" formControlName="details" ></textarea>
        </div>
        <div>
            <label for="phone">phone</label>
            <input   type="tel" id="phone"  class="form-control" formControlName="phone" />
        </div>
        <div>
            <label for="city">city</label>
            <input   type="text" id="city"  class="form-control" formControlName="city" />
        </div>

        <button class="btn-main mt-3">Check Out</button>

    </form>

</section>